<div class="login-container">
  <img src="../../../assets/logo.png" class="img-fluid mx-auto d-block" alt="Imagen del producto" style="max-height: 200px; object-fit: contain;">
  <h2 class="d-flex justify-content-center">Iniciar Sesión</h2>
  <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
    <div class="form-group">
      <label for="usuario">Nombre de Usuario:</label>
      <input
        type="text"
        id="usuario"
        name="usuario"
        [(ngModel)]="loginData.usuario"
        required
        />
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="loginData.password"
        required
      />
    </div>

    <button type="submit" class="btn btn-dark" [disabled]="!loginForm.valid">Iniciar Sesión</button> <!-- Deshabilita el botón si el formulario es inválido -->
  </form>
</div>
