
<div class="container mb-2">
  <img src="../../../assets/logo.png" class="img-fluid mx-auto d-block" alt="Imagen del producto" style="max-height: 200px; object-fit: contain;">
    <!-- <h1 class="display-4 d-flex justify-content-center">¡Ofertas en Tecnología!</h1>
    <p class="lead d-flex justify-content-center">Descuentos increíbles en laptops, componentes y más. ¡No te lo pierdas!</p>
    <div class="d-flex justify-content-center">
      <a href="#" class="btn btn-dark btn-lg">Ver Ofertas</a> -->
</div>
<div class="container mb-2">
  <h1 class="display-4 d-flex justify-content-center">¡Gran variedad de Productos!</h1>
  <p class="lead d-flex justify-content-center">Explora nuestra amplia gama de productos tecnológicos</p>
  <div class="d-flex justify-content-center">
    <button class="btn btn-dark btn-lg" (click)="irAProductos()">Ver Productos</button>
  </div>
</div>
<app-lista-productos></app-lista-productos>
