<form class="container py-4 px-3 bg-light border rounded shadow-sm" #formularioProducto="ngForm">
  <h3 class="text-center mb-4 text-secondary">Carga productos</h3>
  <div class="mb-3">
    <label for="busqueda" class="form-label text-secondary">Búsqueda producto</label>
    <div class="input-group">
      <input id="busqueda" class="form-control bg-white" type="text" name="busqueda" placeholder="Buscar producto" [(ngModel)]="campoBusqueda">
      <button class="btn btn-secondary" type="button" (click)="buscarProductos()">Buscar</button>
    </div>
  </div>

  <div class="mb-3">
    <label for="seleccionProducto" class="form-label text-secondary">Seleccionar producto</label>
    <select id="seleccionProducto" class="form-select bg-white" name="seleccionProducto" (change)="seleccionProducto($event)">
      <option selected>Seleccione producto buscado</option>
      <option [value]="i" *ngFor="let producto of respuestaBusqueda;let i = index">{{producto["title"]}}</option>
    </select>
  </div>

  <div class="row g-3">
    <div class="col-md-6">
      <label for="codigo" class="form-label text-secondary">Código producto</label>
      <input id="codigo" class="form-control bg-white" type="text" name="codigo" placeholder="Código producto" [(ngModel)]="campoCodigo" #nombreInput="ngModel" required>
    </div>
    <div class="col-md-6">
      <label for="titulo" class="form-label text-secondary">Título</label>
      <input id="titulo" class="form-control bg-white" type="text" name="nombre" placeholder="Título producto" [(ngModel)]="campoTitulo" #nombreInput="ngModel" required>
    </div>
    <div class="col-md-6">
      <label for="seleccionCategoria" class="form-label text-secondary">Categoría producto</label>
      <select id="seleccionCategoria" class="form-select bg-white" name="seleccionCategoria" (change)="seleccionCategoria($event)">
        <option selected>Seleccione categoría</option>
        <option [value]="i" *ngFor="let categoria of respuestaCategorias;let i = index">{{categoria["nombre"]}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="marca" class="form-label text-secondary">Marca</label>
      <input id="marca" class="form-control bg-white" type="text" name="marca" placeholder="Marca producto" [(ngModel)]="campoMarca" #nombreInput="ngModel" required>
    </div>
    <div class="col-md-6">
      <label for="modelo" class="form-label text-secondary">Modelo</label>
      <input id="modelo" class="form-control bg-white" type="text" name="modelo" placeholder="Modelo producto" [(ngModel)]="campoModelo" #nombreInput="ngModel" required>
    </div>
    <div class="col-md-6">
      <label for="cantidad" class="form-label text-secondary">Cantidad</label>
      <input id="cantidad" class="form-control bg-white" type="number" name="cantidad" placeholder="Cantidad producto" [(ngModel)]="campoCantidad" #nombreInput="ngModel" min="1" required>
    </div>
    <div class="col-md-6">
      <label for="precio" class="form-label text-secondary">Precio</label>
      <input id="precio" class="form-control bg-white" type="number" name="precio" placeholder="Precio producto" [(ngModel)]="campoPrecio" min="1" #nombreInput="ngModel" required>
    </div>
    <div class="col-12">
      <label for="imagen" class="form-label text-secondary">Imagen</label>
      <input id="imagen" class="form-control bg-white" type="text" name="imagen" placeholder="Link imagen producto" [(ngModel)]="campoImagen" #nombreInput="ngModel" required>
    </div>
  </div>

  <div class="text-center mt-4">
    <button type="submit" class="btn btn-secondary" [disabled]="formularioProducto.invalid" (click)="submitFormulario()">Registrar</button>
  </div>
</form>
