/* Contenedor principal */
.container-fluid {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Selector de ordenamiento */
  .d-flex.justify-content-end.mb-3 label {
    color: #6c757d;
    font-weight: 500;
    font-size: 18px; /* Tamaño de letra más grande */
  }
  
  select#orden {
    padding: 10px 15px; /* Mayor padding */
    font-size: 18px; /* Tamaño de letra más grande */
    border-radius: 8px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    color: #495057;
    transition: all 0.2s;
  }
  
  select#orden:hover,
  select#orden:focus {
    border-color: #007bff;
    outline: none;
  }
  /* Paginación *//* Paginación *//* Paginación *//* Paginación */

  .my-pagination ::ng-deep .ngx-pagination .current {
    background-color: yellow;
    color: white;
    padding: 20px 24px;
    font-size: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  

  